# -DCONSTRETTO_TAGS=DEV is set
#
#  Used by Dockerfiles and ansible provisioning
#
service.port=9992
myuri=http://localhost:9992/uas/
sslverification=disabled

applicationname=Whydah-UserAdminService
applicationid=2212
applicationsecret=9ju592A4t8dzz8mz7a5QQJ7Px