<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Property placeholder configurer FIRST -->
    <context:property-placeholder
            location="classpath:useradminservice.properties,
         classpath:useradminservice_override.properties,
         file:./config/useradminservice_override.properties,
         file:./useradminservice_override.properties"
            ignore-resource-not-found="true" order="1"/>

    <!-- Basic utilities -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <!-- UASCredentials bean - check constructor parameters -->
    
    <bean id="uasCredentials" class="net.whydah.admin.security.UASCredentials">
        <constructor-arg index="0" value="${applicationid}"/>
        <constructor-arg index="1" value="${applicationname}"/>
        <constructor-arg index="2" value="${applicationsecret}"/>

    </bean>

    <!-- CredentialStore bean depends on uasCredentials 
    
    <bean id="credentialStore" class="net.whydah.admin.CredentialStore">
        <constructor-arg index="0" value="${securitytokenservice}"/>
        <constructor-arg index="1" value="${myuri}"/>
        <constructor-arg index="2" value="${applicationid}"/>
        <constructor-arg index="3" value="${applicationname}"/>
        <constructor-arg index="4" value="${applicationsecret}"/>
    </bean>-->
    
    <!-- SecurityFilter bean depends on credentialStore -->
    <bean id="securityFilter" class="net.whydah.admin.security.SecurityFilter">
        <constructor-arg index="0" value="${securitytokenservice}"/>
        <constructor-arg index="1" value="${securitytokenservice.appid}"/>
        <constructor-arg index="2" ref="uasCredentials"/>
        <constructor-arg index="3" ref="credentialStore"/>
    </bean>
    
    
    
    <!-- Enable component scanning LAST (excluding SecurityFilter) -->
    <context:component-scan base-package="net.whydah.admin">
        <context:exclude-filter type="assignable" expression="net.whydah.admin.security.SecurityFilter"/>
    </context:component-scan>

</beans>